<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="navbar-inner">
		<div class="container">
			<%= link_to "Electronics Retail Directory", root_path, id: "logo" %>
			<nav>
				<ul class="nav pull-right">
					<li><%= link_to "Home", root_path, method: "get" %></li>
					<% if signed_in? %>
						<li><%= link_to "Profile", retailer_path(current_retailer), method: "get" %></li>
						<li><%= link_to "Edit Details", edit_retailer_path(current_retailer), method: "get" %></li>
						<li><%= link_to "Sign Out", signout_path, method: "delete" %></li>
					<% else %>						
						<li><%= link_to "Register", register_path %></li>
						<li><%= link_to "Sign In", signin_path %></li>
					<% end %>
				</ul>
			</nav>
		</div>
	</div>
</header>